.elements_display_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ingredient_details_nutrition {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 125px);
    justify-items: center;
    gap: 20px;
}