/*@font-face {*/
/*  font-family: 'Iceland';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  src: url("./fonts/Iceland-Regular.ttf") format("ttf");*/
/*}*/

/*@font-face {*/
/*  font-family: 'JetBrains Mono';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  src: url("./fonts/JetBrainsMono-Regular.ttf") format("ttf");*/
/*}*/

/*@font-face {*/
/*  font-family: 'JetBrains Mono';*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  src: url("./fonts/JetBrainsMono-Bold.ttf") format("ttf");*/
/*}*/

.App {
  text-align: center;
}

.header {
  height: 88px;
  width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bar {
  /*width: 1280px;*/
  background-color: #1C1C21;
}

.header-elements {
  display: flex;
}

.header-element {
  display: flex;
  align-items: center;
  height: 56px;
}

.header-element-constructor {
  width: 178px
}

.header-element-orders {
  width: 197px
}

.main {
  /*height: 912px;*/
  width: 600px;
}

.text-position {
  text-align: start;
}

.buns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.ingredient-image {
  width: 240px;
  height: 120px;
}

.price-margin {
  margin-right: 8px;
}

.price-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingredients-scroll {
  height: 492px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
}
.ingredients-scroll::-webkit-scrollbar {
  width: 8px;
}
.ingredients-scroll::-webkit-scrollbar-track {
  background: #2F2F37;
}
.ingredients-scroll::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.constructor-scroll {
  max-height: 292px;
}

.ingredients-constructor {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

